DevTools=false

# --- section start: data ork build


# full path to directory where unpacked game files are located 
DevToolsORKBuildSourcePath="C:\Games\Armies of Exigo\Development\WorkingDir\Game_Files"

# full path to data ORK file that will be used to be built
DevToolsORKBuildTargetPath="C:\Games\Armies of Exigo\Data2.ork"

# full path to file list that contains all game files that will be packed into data ORK file
DevToolsORKBuildFileListPath="C:\Games\Armies of Exigo\Development\WorkingDir\FileList\file_list.txt"

# path to ork tools compiler used to pack data into data ORK file
DevToolsORKCmpPath="C:\Games\Armies of Exigo\Development\ORK_Tools\3. ORK Compiler"


# --- section end: data ork build
# --- section start: speedhack

# speedhack .exe name that initiates speedhack
DevToolsExigoSpeedhackInitiatorExecutableName="Exigo_speedhack.exe"

# speedhack multiplier
DevToolsExigoSpeedhackValue=10

# value in miliseconds before game will load speedhack
DevToolsExigoSpeedhackWaitTime=1000

# game .exe used to launch with speedhack, usually it's the same file name as original one
DevToolsExigoSpeedhackExecutableName="Exigo.exe" 


# --- section end: speedhack
