name: Build Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Get tag name
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      
      - name: Create release package
        run: |
          mkdir -p build/ArmiesOfExigo-Helper
          
          rsync -av --exclude='build' --exclude='.github' ./ build/ArmiesOfExigo-Helper/
          
          cd build
          zip -r ArmiesOfExigo-Helper-${{ steps.get_version.outputs.VERSION }}.zip ArmiesOfExigo-Helper
      
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/ArmiesOfExigo-Helper-*.zip
          body: |
            ## Installation
            1. open and edit file ExigoHelper.conf.example as according to your system paths
            2. rename ExigoHelper.conf.example to ExigoHelper.conf
            
            ## What's Changed
            See commit history for details.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}